/* Add CSS Styling */

.odd {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: #ff9090;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.special {
    font-size: 24px;
}

#four {
    background-color: #99ff99;
    font-size: 24px;
    font-weight: 700;
}